@import "./theme.css";

// 隐藏滚动条
::-webkit-scrollbar {
  width: 6px;
}

.header-icon-class {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
  font-size: var(--icon-size);
}

.hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-sb {
  align-items: center;
  justify-content: space-between;
}

.marin-r-10 {
  margin-right: 20px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  // overflow: hidden;
}

.home-layout {
  height: 100%;
  width: 100%;
}

.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}

.heading-1 {
  font-size: 1em;
}

.heading-2 {
  font-size: 0.9em;
}

.heading-3 {
  font-size: 0.8em;
}

.heading-4 {
  font-size: 0.7em;
}

.heading-5 {
  font-size: 0.6em;
}

.paragraph {
  font-size: 0.8em;
}

.post-list {
  width: 100%;
  height: 100%;
}

.dark-mode {
  .post-card {
    border: none;

    .dark-white {
      color: rgba(200, 200, 200, 0.82);
      --tag-bg: none
    }
  }
}


.content-part {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .content-wrapper {
    flex: 1;
    width: 100%;
    height: 100%;

    .block {
      // height: 100%;
      width: var(--sider-width);
    }

    .list-wrapper {
      height: 100%;
      width: calc(100% - var(--sider-width) * 2);
      position: relative;
      overflow-y: scroll;
    }
  }
}


// 文本一行展示
.text-oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

// 文本两行展示
.text-twoline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// 文本三行展示
.text-threeline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// md文档相关样式
.post-body {
  margin-bottom: 10px;

  //标题
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.1em;
    cursor: text;
    font-weight: 600;
    color: var(--text-color);
  }

  h1>a,
  h2>a,
  h3>a,
  h4>a,
  h5>a,
  h6>a {
    cursor: text;
    color: var(--text-color);
    text-decoration: none;
  }

  // ol li 
  ul,
  ol {
    padding-left: 0;
    margin-top: 2px;
  }

  li ::marker {
    content: '•';
    /* 使用原点符号 */
    color: #000;
    /* 设置原点的颜色 */
    font-size: 1em;
    /* 设置原点的大小 */
    margin-right: 0.5em;
    /* 设置原点与文本之间的间距 */
  }

  ul {
    list-style: disc; // 实心圆

    li {
      margin-top: 2px;
    }

    li::marker {
      color: var(--grey-dark);
    }
  }

  // 引用块
  blockquote {
    padding: 5px;
    margin-left: 10px;
    border-left: 5px solid var(--grey-dark);
    border-radius: 0.5em;
    font-size: 1em;
    // line-height: 1.5em;
  }

  // 行内代码
  :not(pre >code) {
    code {
      padding: 0.2em 0.5em;
      margin: 0 0.2em;
      background-color: var(--post-box-bg);
      color: #4C585B;
      border-radius: var(--post-code-raius);
      font-size: 1em;
      line-height: 1.5em;
      font-weight: 600;
    }
  }

  // 代码块
  pre:has(> code) {
    padding: 1.2em 1em;
    margin: 15px 0px;
    background-color: var(--bg-code-box);
    border-radius: 0.5em;
    font-size: 1em;
    line-height: 1.5em;
    overflow: auto;

    code {
      padding: 0;
      margin: 0;
      background-color: var(--bg-code-box);
      border-radius: 5px;
      font-size: 1em;
      line-height: 1.5em;
      // color: var(--text-color);
    }
  }

  .code-copy-added {
    position: relative;
  }

  .code-copy-added:hover .copy-btn {
    opacity: 1;
  }
}

.markdownShowTransition-enter-active,
.markdownShowTransition-leave-active {
  transition: opacity 0.5s ease-in;
}

.markdownShowTransition-enter-from,
.markdownShowTransition-leave-to {
  opacity: 0;
}