html,body,#nuxt-root{
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;

}
// 隐藏滚动条
::-webkit-scrollbar {
  width: 6px;
}
.header-icon-class{
  background-color: var(--icon-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-sb{
  align-items: center;
  justify-content: space-between;
}
.marin-r-10{
  margin-right: 20px;
}
