header {
  --wrap-height: 100px;
  --title-font-size: 2.25em;
  
}
#__nuxt {
  --sider-width: 20%;
  width: 100%;
  height: 100%;
  --tab-card-height: 30px;
  --base-raduis: 8px;
  --icon-color: #444444;
  --icon-size: 26px;
}
.modal-container{
  --modal-width:35%;
  --key-word-color:#3e5879;
  --icon-color: #444444;
  --text-grey-color: #b4b4b8;
}
.post-card{
  --post-card-width:70%;
  --post-card-title:1em;
}

.content-part {
  --pagenation-height: 40px;
  --border-radius-base: 10px;
  --border-radius-base-8: 8px;
  --box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 0px 10px rgba(0, 0, 0, 0.15);
  --post-text-color: #3e5879; /* 文章内容颜色 */
  --grey-dark: #b4b4b8;
}
/* 文章 相关CSS 变量 */
.list-wrapper {
  --post-title-color: black;
  --post-box-radius: 0.5em;
  --post-box-padding: 1.2em 1em;
  --post-box-bg: #e2e2e5;
  --post-code-raius:5px;
}
/* // 声明主题色变量 */
html,
body {
  --bg-color-light: #f5f5f5;
  --bg-color-dark: #333333;
  --text-color-light: #333333;
  --text-color-dark: #f5f5f5;
  --bg-block-color-light:#e2e2e5;
  --bg-block-color-dark:#C7C8CC;
  --post-border-light:#e2e2e5;
  --post-border-dark:transparent;
  --post-description-light: #333333;
  --post-description-dark: #c8c8c8d1;
  --bg-code-box-light:#e2e2e5;
  --bg-code-box-dark:#333333;
}
/*
--bg-color: 背景色
--bg-block-color: 方块儿的背景色
--text-color: 文字颜色

*/

/* 自定义属性theme-mode- 黑暗模式下 */
.dark{
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --bg-block-color: var(--bg-block-color-dark);
  --post-border:var(--post-border-dark);
  --post-description: var(--post-description-dark);
  --bg-code-box: var(--bg-code-box-dark);
  --bg-tag:var(--post-description-dark);
  .gsc-left-header{
    color: white;
  }
}
/*  浅色模式 */
.light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --bg-block-color: var(--bg-block-color-light);
  --post-border:var(--post-border-light);
  --post-description: var(--post-description-light);
  --bg-code-box: var(--bg-code-box-light);
  --bg-tag:var(--bg-block-color-light);
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* 适应手机端 */
 @media only screen and (max-width: 767px) {
  #__nuxt {
    --sider-width: 10%;
    width: 100%;
    height: 100%;
    --tab-card-height: 30px;
    --base-raduis: 8px;
    --icon-color: #444444;
    --icon-size: 26px; 
  }
  .modal-container{
    --modal-width: 70%;
  }
  header {
  --title-font-size: 1.5em;
  }
  .post-card{
    --post-card-width:88%;
    --post-card-title:0.9em;
  }
  .post-toc-box{
    display:none;
  }

}


